.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1em;
  background-color: var(--tan);
}

.counter-title {
  text-align: center;
  margin: 0.5em;
}

.counter-description {
  text-align: center;
  margin: 0.25em;
}

