.aside {
  flex: 1;
  padding: 1em;
}

.aside[data-bg="green"] {
  background-color: var(--green);
}

.aside[data-bg="gray"] {
  background-color: var(--gray);
}

.aside[data-bg="gold"] {
  background-color: var(--gold);
}