html {
  --text: #000;
  --background: #FFF;
  --border: darkslateblue;
}

@media (prefers-color-scheme: dark) {
  html {
    --text: #FFF;
    --background: #000;
    --border: mediumslateblue;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  color: var(--text);
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-content {
  display: flex;
}

.app-content-main {
  display: flex;
  flex: 1;
  height: 400px;
}

.app-content-counter {
  flex: 1;
}

.app-content-aside--left,
.app-content-aside--right {
  min-width: 250px;
}